.container {
    display: flex;
    padding-top: 33%;
    min-height: 100vh;
    flex-direction: column;
    text-transform: uppercase;
    @media (min-width: 500px) {
        padding-top: 2%;
        
    }
    
    .title {
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        justify-content: space-between;
        line-height: 1.3;
        margin: 0;
        color: #fff;
        font-size: 15vw;
        padding-left: 1rem;
        padding-bottom: 10%;
        
        @media (min-width: 500px) {
            letter-spacing: 0.2em;
            font-size: 7vw;
            flex-direction: column;
            padding-left: 5%;
            padding-bottom: 2%;
        }

        .title_box_first{
            overflow: hidden;
            @media (min-width: 500px) {
                position: relative;
            }
            .title_first {
                display: block;
                animation: title 1000ms;
                @media (min-width: 500px) {
                    border-radius: 25% 0% 0% 25%;
                }
            }
        }
    }
    .img_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 500px) {
            flex-direction: row;
            justify-content: space-evenly;
        }
        .img_wrapper{
            display: flex;
            max-height: 63vh;
            width: 80%;
            clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
            @media (min-width: 500px) {
                width: 23%;
                max-height: 61vh;
                position: relative;
                right: 10%;
            }

            .img_box{
                width: 80%;
                object-fit: cover;
                opacity: 0.7;
                
            }
        }
        .about_content{
            width: 100%;
            padding: 0 1rem;
            font-size: 4vw;
            color: #fff;
            font-family: Metana;
            text-transform: uppercase;
            @media (min-width: 500px) {
                width: 50%;
            }
            .about_text{
                animation: text 2000ms;
                @media (min-width: 500px) {
                    font-size: 2vw;
                }
            }
            .contact_content {
                display: flex;
                @media (min-width: 500px) {
                    font-size: 2vw;
                }
            }
        }
    }
}

@keyframes title {
    0%{
      transform: translate(0, 4rem);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0rem);
      opacity: 1;
    }
}