.project_container{
    width: 100%;
    padding: 5%;
    @media (min-width: 500px) {
        flex-direction: row-reverse;
        display: flex;
        padding: 5%;
    }
    .project_box {
        @media (min-width: 500px) {
            display: flex;
            flex-direction: row-reverse;
            height: 75vh;
        }
        
        
        .project_panel{
            position: relative;
            display: flex;
            height: 60vh;
            opacity: 0.5;
            
            @media (min-width: 500px) {
                height: 75vh;
                flex-direction: row-reverse;
                right: 15%;
                max-width: 50%;
                transition: all 0.5s ease-out;
            }
            

            .project_img{
                object-fit: cover;
            }
        }
        .project_panel:hover{
            opacity: 1;
            transform: scale(1.1);
            
        }
    }
    
    .project_infos{
        margin-top: 1.25rem;
        @media (min-width: 500px) {
            width: 25vw;
        }
        .project_infos_inner{
            position: relative;
            @media (min-width: 500px) {
                padding: 0 1rem;
                text-transform: uppercase;
                left: -50%;
            }
            .project_title{
                position: relative;
                font-size: 3rem;
                color: #fff;
                margin-bottom: 1.5rem;
                
                @media (min-width: 500px) {
                    font-size: 8vw;
                }
            }
            .project_infos_text{
                font-size: 1rem;
                color: #fff;
                font-family: Metana;
                @media (min-width: 500px) {
                    position: relative;
                    left: 23%;
                    font-size: 1vw;
                }
                .project_infos_date{
                    display: inline;
                    font-size: 2vw;
                    margin-right: 2.5em;
                    opacity: .5;
                    position: relative;
                    top: -0.15em;
                    @media (min-width: 500px) {
                        font-size: .8vw;
                    }       
                }
            }
        }
        .wrap_link {
            display: flex;
            align-items: center;
            @media (min-width: 500px) {
                position: relative;
                left: 23%
            }
            .text_link{
                display: inline-block;
                position: relative;
                color: #fff;
                font-size: 6vw;
                font-family: Kenoky;
                @media (min-width: 500px) {
                    font-size: 1.5vw;
                }
            }
            .text_link:after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0;
                left: 0;
                background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            .svg {
                margin-right: 1rem;
                .circle{
                    stroke:white;
                    stroke-width:3;
                    opacity: 0;
                    stroke-dasharray: 0;
                }
                .arrow {
                    opacity: 0;
                    transform: matrix(1,0,0,1,-24.82176,0);
                }
            }
        }
        .wrap_link:hover{
            .text_link{
                background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
            .text_link:after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        
            .circle {
                stroke: #6D0ABF;
            }
        
            .arrow {
                fill: #6D0ABF;
            }
        }
    }
}
