.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    .hero{
        display: flex;
        width: 100%;
        align-items: center;
        min-height: 70vh;
        padding-top: 5rem;
        @media (min-width: 500px) {
            padding: 05% 5%;
            max-height: 90vh;
        }
        
        .container {
            display: flex;
            width: 100%;
            padding: 0 1rem;
            align-items: center;
            
            .title {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                font-weight: 400;
                // justify-content: space-between;
                line-height: 1.3;
                margin: 0;
                color: #fff;
                font-size: 15vw;
                text-transform: uppercase;
                @media (min-width: 500px) {
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font-size: 8vw;
                    flex-direction: column;
                }

                .title_box_first{
                    display: flex;
                    overflow: hidden;
                    justify-content: space-between;
                    align-items: center;
                    .title_first {
                        display: flex;
                        animation: title 1000ms;
                        @media (min-width: 500px) {
                            border-radius: 25% 0% 0% 25%;
                        }
                    }
                    .img_first_box{
                        display: none;
                        @media (min-width: 500px) {
                            display: block;
                            width: 100%;
                        }  
                        .img_first{
                            animation: title 1000ms;
                            object-fit: cover;
                            
                        }
                    }                 
                }
                               
                .title_box_second{
                    display: flex;
                    overflow: hidden;
                    justify-content: space-between;
                    align-items: center;
                    max-height: 20%;
                    .img_second_box{
                        display: none;
                        @media (min-width: 500px) {
                            display: block;
                            width: 30%;
                        }  
                        .img_second{
                            animation: title 1000ms;
                            object-fit: cover;
                        }
                    }           

                    .title_second {
                        display: flex;
                        animation: title 1250ms;
                    }
                }
                .title_box_third{
                    display: flex;
                    overflow: hidden;
                    justify-content: space-between;
                    align-items: center;
                    @media (min-width: 500px) {
                        position: relative;
                    }
                    .title_third {
                        display: block;
                        font-style: italic;
                        animation: title 1500ms;
                    }
                    .img_third_box{
                        display: none;
                        @media (min-width: 500px) {
                            display: block;
                            width: 100%;
                        }  
                        .img_third{
                            animation: title 1000ms;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .text_container{
        display: flex;
        width: 100%;
        flex-direction: column;
        @media (min-width: 500px) {
            position: relative;
            left: 50%;
            padding: 0% 5%;
            width: 50%;
        }
        .text_wrap {
            width: 100%;
            padding: 0 1rem;
            .subtitle {
                font-size: 64px
            }
            .text {
                font-size: 4vw;
                color: #fff;
                font-family: Metana;
                text-transform: uppercase;
                animation: text 2000ms;
                @media (min-width: 500px) {
                    font-size: 1.5vw;
                }
            }
        }
    }
}

.wrap_link {
    display: flex;
    padding: 0 1rem;
    animation: text 2500ms;
    align-items: center;

    .text_link{
        display: inline-block;
        position: relative;
        color: #fff;
        font-size: 1.5rem;
        // padding-left: 1rem;
        font-family: Kenoky;
        text-transform: uppercase;
    }
    .text_link:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .svg {
        margin-right: 1rem;
        .circle{
            stroke:white;
            stroke-width:3;
            opacity: 0;
            stroke-dasharray: 0;
            
        }
        .arrow {
            transform: matrix(1,0,0,1,-24.82176,0);
            opacity: 0;
        }  
    }
}

.wrap_link:hover{
    .text_link{
        background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    .text_link:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .circle {
        stroke: #6D0ABF;
    }

    .arrow {
        fill: #6D0ABF;
    }
}



@keyframes title {
    0%{
      transform: translate(0, 4rem);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0rem);
      opacity: 1;
    }
}

@keyframes text {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
