.project_container{
    width: 100%;
    padding-bottom: 20%;
    @media (min-width: 500px) {
        display: flex;
        padding-bottom: 5%;
        flex-direction: row-reverse;
    }
    .project_box {
        @media (min-width: 500px) {
            width: 50%;
            padding-right: 10%;
            z-index: -2;
        }
        .project_img{
        background: white;
        height: 50vh;
        overflow: hidden;
        
        .project_panel{
            background: black;
            height: 50vh;
        }
    }}
    
    .project_infos{
        margin-top: 1.25rem;
        @media (min-width: 500px) {
            z-index: 4;
            width: 25vw;
        }
        .project_infos_inner{
            padding: 0 1rem;
            .project_title{
                font-size: 64px;
                color: #fff;
                margin-bottom: 1.5rem;
            }
            .project_infos_text{
                font-size: 1rem;
                color: #fff;
                font-family: Metana;
                .project_infos_date{
                    display: inline;
                    font-size: .8em;
                    margin-right: 2.5em;
                    opacity: .5;
                    position: relative;
                    top: -0.15em;       
                }
            }
        }
        .wrap_link {
            display: flex;
            .icon_right{
                color: #fff;
                font-size: 20px;
            }
            .text_link{
                color: #fff;
                font-size: 1.5rem;
                padding-left: 1rem;
                font-family: Kenoky;
            }
        }
    }
}