.dev_wrap{
    padding-top: 5rem;
    .dev_container{
        .dev_border{
            background: rgba(255,255,255,.2);
            margin-top: 1rem;
            width: 100%;
            height: 1px;
            overflow: hidden;
            .dev_loader{
                background:rgba(255,255,255);
                height: 1px;
                opacity: 0;
            }
        }
    } 
    .dev_content_container {
        display: flex;
        flex-direction: column;
        @media (min-width: 500px) {
            flex-direction: row;
        }
        .dev_content{
            padding: 0 1rem;
            font-size: 4vw;
            color: #fff;
            font-family: Metana;
            text-transform: uppercase;
            @media (min-width: 500px) {
                width: 60%;
                padding-left: 5%;
            }
            .dev_sub{
                margin-bottom: 0;
                @media (min-width: 500px) {
                    font-size: 2vw;
                }
    
            }
            .dev_title{
                margin-top: 0;
                @media (min-width: 500px) {
                    font-size: 3vw;
                }
            }
            .dev_text{
                @media (min-width: 500px) {
                    font-size: 2vw;
                }
            }
    
        }
        .dev_image_wrapper {
            @media (min-width: 500px) {
                display: block;
                position: relative;
                width: 30%;
            }
        }
        
    }

    
}