.footer_wrap{
    margin-top: 4rem;
    .footer_border{
        background: rgba(255,255,255,.2);
        margin-top: 1rem;
        width: 100%;
        height: 1px;
        overflow: hidden;
        .footer_loader{
            background:rgba(255,255,255);
            height: 1px;
            animation: loader 1500ms;
            opacity: 0;
            
        }
    }
    .footer_inner {
        align-items: center;
        display: flex;
        height: 5rem;
        justify-content: space-between;
        font-family: Metana;
        text-transform: uppercase;
        padding-bottom: 2rem;
        padding: 0 3%;
        @media (min-width: 500px) {
            padding: 0 5%;
        }
        .footer_credit{

        }
        .footer_contact{
            align-items: center;
            display: flex;
            margin: 0.25rem 0 0;
            overflow: hidden;
            color:#fff;
            
            .footer_link{
                margin-right: 0.25rem; 
            }
        }
    }
}

@keyframes loader {
    0%{
      transform: translate(-10%, 0);
      opacity: 0.5;
      width: 0;
    }
    50% {
      transform: translate(0, 0);
      opacity: 1;
      width: 100%;
    }
    100% {
        transform: translate(100%, 0);
        opacity: 0;
        width: 100%;
    }
}