
.contact{
    align-items: center;
    display: flex;
    margin: 0.25rem 0 0;
    overflow: hidden;
    color:#fff;
    gap: 1rem;
            
    .link{
        display: inline-block;
        position: relative;
    }
    .link:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .link:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .link:hover{
        background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}