.projects_wrap{
    padding-top: 5rem;
    .st_container{
        .box{
            overflow: hidden;

            .st{
                display: block;
                font-size: 18px;
                color:#fff;
                padding-left: 1rem;
            }
            @media (min-width: 500px) {
                padding: 0% 5%;
            }
        }
        .st_border{
            background: rgba(255,255,255,.2);
            margin-top: 1rem;
            width: 100%;
            height: 1px;
            overflow: hidden;
            .st_loader{
                background:rgba(255,255,255);
                height: 1px;
                opacity: 0;
            }
        }
    }
    .project_grid{
        width: 100%;
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .link_container {
            display: flex;
            font-family: Metana;
            font-size: 4vw;
            padding-top: 10%;
            @media (min-width: 500px) {
                font-size: 1.5vw;
            }
            
            .link_text {
                color: white;
                padding-right: 1vw;
            }
            .link{
                display: inline-block;
                position: relative;
                text-decoration: underline;
                
            }
            .link:after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0;
                left: 0;
                background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                
            }
            .link:hover:after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            .link:hover{
                background: linear-gradient(to right, #6D0ABF 0%, #CC00A8 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
        }

        
            
    }
}

@keyframes loader {
    0%{
      transform: translate(-10%, 0);
      opacity: 0.5;
      width: 0;
    }
    50% {
      transform: translate(0, 0);
      opacity: 1;
      width: 100%;
    }
    100% {
        transform: translate(100%, 0);
        opacity: 0.5;
        width: 100%;
    }
}

