//global palet color and font
$bg-color: rgba(0,0,255,.7);
$ft-color: #fff;
$s-font: "O",georgia;
$xl-font: "W",helvetica;
$s-size: 1rem;


html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background: radial-gradient(circle at center,$bg-color 0,#000 100%);
  background: radial-gradient(circle at top right, #2c3661 0%, #1b2735 25%, #0a090f 100%);
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  // height: 100vh;
  width: 100%;
  z-index: -3;
}

a {
  text-decoration: none;
  color:#fff;
}

* {
  box-sizing: border-box;
}

header {
  align-items: center;
  display: flex;
  height: 5rem;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 5rem;
  width: 100%;
  @media (min-width: 500px) {
    padding: 2% 5% 0% 5%;
    position: static;
  }
  div{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: relative;
    span {
      white-space: nowrap;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 1rem;
      position: relative;
    }
  }
  
  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
  }
  li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    position: relative;
  }
  a {
    font-family: Metana;
    color: $ft-color;
    font-size: 0.8rem;
    text-transform: uppercase;
    @media  (min-width: 300px){
      font-size: 1rem;
    }
  }
  
}

main {
  z-index: 2;
  width: 100%;
}

h1, h2, h3{
  font-family: Kenoky;
}

h2{
  font-family: Metana;
  text-transform: uppercase;
}

@font-face {
  font-family: Kenoky;
  src: url(../public/fonts/RestoraExtraLight.otf);
}
@font-face {
  font-family: Metana;
  src: url(../public/fonts/NeueMetana-Regular.otf);
}

